
#main-page{
    font-family: 'Questrial', sans-serif;
    font-size: large;
    background-color: #A9AED1;
    }

#wrapper{
    width:90%; /*The content will fill 90% of the screen horizontally, you can change this to 100% or a lower percentage to suit your needs*/
    max-width:1200px; /*the content won't be bigger than 1200px as having too wide a content makes it hard to read*/
    margin:0 auto; /*positions the content in the centre of the page*/
    }

header{
    font-size: 60px ;
    font-weight: bold;
    text-align: center;
    height: 100px;
    background-color: #b1bdb6;
    background: -webkit-linear-gradient(top, #A9AED1, #FFFFFF);
    }

#container{
    
    font-size: x-large;
    background: #fff;
    overflow: auto; /*clears the floats in the child elements */ 
    width: 100%
}

nav{
    width: 200px; 
    height: 500px;
    float: left;
    padding: 20px;
    border-right-style: solid;
    background-color: #fff; 
    margin-right:-200px; /*negative of section#content left border*/ 
    position: relative; 
}

section#content{
    font-size: large;
    float: left;
    padding: 20px;
    border-left: 200px solid #e7e4ce; /* same width & background colour as nav - gives the impression of equal height columns */ 
}

footer{
    font-size: small;
    background-color: #b1bdb6;
    background: -webkit-linear-gradient(bottom, #A9AED1, #FFFFFF);
    padding: 10px;
}


