
            #main-page{
                font-family: Arial, Helvetica, sans-serif;
                font-size: xx-large;
                font-weight: bold;
                background-color: #E3F0FB;
                border-radius: 4px;
                padding: 10px;
                text-align: center;
                }
                .button{
                    border-radius: 1;
                }